body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 1em;
  padding: 0;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
section > form {
  flex: 1;
}
section > div {
  flex: 1;
  width: 50%;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1em 0;
  padding: 1em;
}

label {
  margin: 0.5em 0;
  display: block;
}
label span {
  font-weight: bold;
  display: block;
  font-size: 0.8em;
}

code {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  font-family: monospace;
  margin: 0;
  padding: 0 0.2em;
}

code.response {
  display: block;
  overflow: auto;
  font-size: 0.8em;
}

.map {
  height: 280px;
  border-radius: 5px;
}
.map .leaflet-control-attribution {
  display: none;
}
