:root {
  --code-background: #f8f8f8;
  --bs-code-color: rgba(33, 37, 41, 0.85);
  --border-radius: 8px;
}

body {
  background-color: #f0f0f0;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  margin: 1em;
  padding: 0;
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-between;
  margin-bottom: 1em;
}
.header .title {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  gap: 0.5em;
  margin: 0;
}
.header .badge {
  font-size: 0.6em;
  font-weight: 600;
}
.header .info {
  font-size: 0.85em;
  margin: 0;
}

.tab-content {
  background-color: white;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-width: 0 1px 1px !important;
  padding: 1.5em 0.5em;
}

.results-container {
  position: relative;
  top: 3px;
  z-index: 2;
}
.results {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.2);
  inset: 0 0 auto;
  position: absolute;
}
.results .list-group-item {
  font-weight: 300;
}
.results .list-group-item b {
  font-weight: 600;
}
.results:empty {
  display: none;
}

.map {
  aspect-ratio: 16 / 12;
  border-radius: var(--border-radius);
  margin-top: 2em;
  position: relative;
  z-index: 1;
}
.map .leaflet-control-attribution {
  display: none;
}

.response {
  background-color: var(--code-background);
  border-radius: var(--border-radius);
  color: var(--bs-code-color);
  font-size: 0.875em;
  margin: 0;
  min-height: 5em;
  padding: 0.5em;
}
.response:empty::after {
  color: #ccc;
  content: "Resultaten worden hier weergegeven";
}
